**QUIZ 3**

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Creamos tabla
tabla = pd.DataFrame(columns=['Prob', 'A', 'B', 'C'], index=['1','2','3'])
tabla['Prob']=np.array([0.3,0.4,0.3])
tabla['A']=np.array([-0.2,0.05,0.4])
tabla['B']=np.array([-0.05,0.1,0.15])
tabla['C']=np.array([0.05,0.03,0.02])

tabla

   Prob     A     B     C
1   0.3 -0.20 -0.05  0.05
2   0.4  0.05  0.10  0.03
3   0.3  0.40  0.15  0.02

In [5]:
# Incluimos una fila para rendimientos esperados
ErA = (tabla['Prob'] * tabla['A']).sum()
ErB = (tabla['Prob'] * tabla['B']).sum()
ErC = (tabla['Prob'] * tabla['C']).sum()

tabla.loc['Rend_Esp',:] = [None,ErA,ErB,ErC]
tabla

          Prob     A     B      C
1          0.3 -0.20 -0.05  0.050
2          0.4  0.05  0.10  0.030
3          0.3  0.40  0.15  0.020
Rend_Esp   NaN  0.08  0.07  0.033

In [7]:
tabla['PortABC'] = 0.4 * tabla['A'] + 0.4 * tabla['B'] + 0.2 *tabla['C']
tabla

          Prob     A     B      C  PortABC  Port1ABC
1          0.3 -0.20 -0.05  0.050  -0.0900   -0.0900
2          0.4  0.05  0.10  0.030   0.0660    0.0660
3          0.3  0.40  0.15  0.020   0.2240    0.2240
Rend_Esp   NaN  0.08  0.07  0.033   0.0666    0.0666

In [9]:
tabla['Port1ABC'] = 1/3 * tabla['A'] + 1/3 * tabla['B'] + 1/3 *tabla['C']
tabla

          Prob     A     B      C  PortABC  Port1ABC
1          0.3 -0.20 -0.05  0.050  -0.0900 -0.066667
2          0.4  0.05  0.10  0.030   0.0660  0.060000
3          0.3  0.40  0.15  0.020   0.2240  0.190000
Rend_Esp   NaN  0.08  0.07  0.033   0.0666  0.061000

In [15]:
cap=50000
w1=20000/50000
w2=10000/50000
w3=20000/50000
ErPort3= 0.2*w1+0.15*w2+0.17*w3
ErPort3

0.17800000000000002

In [16]:
covAB = (tabla['Prob'] * (tabla['A'] - ErA) * (tabla['B'] - ErB)).sum()
covAB

0.017400000000000002

In [17]:
covBC = (tabla['Prob'] * (tabla['B'] - ErB) * (tabla['C'] - ErC)).sum()
covBC

-0.0009600000000000001

In [18]:
covAC = (tabla['Prob'] * (tabla['A'] - ErA) * (tabla['C'] - ErC)).sum()
covAC

-0.0026400000000000004

In [19]:
sA=0.2337
sB=0.0812
sC=0.0119

In [20]:
corrAB = covAB/ (sA * sB)
corrAB

0.9169264624977079

In [21]:
corrAC = covAC/ (sA * sC)
corrAC

-0.9492885729388033

In [23]:
corrBC = covBC/ (sC * sB)
corrBC

-0.9935008486153083

In [27]:
tabla['PortAC'] = 0.5 * tabla['A'] + 0.5 * tabla['C']
tabla

          Prob     A     B      C  PortABC  Port1ABC  PortAC
1          0.3 -0.20 -0.05  0.050  -0.0900 -0.066667 -0.0750
2          0.4  0.05  0.10  0.030   0.0660  0.060000  0.0400
3          0.3  0.40  0.15  0.020   0.2240  0.190000  0.2100
Rend_Esp   NaN  0.08  0.07  0.033   0.0666  0.061000  0.0565

In [28]:
ErAC = tabla.iloc[-1,-1]
ErAC

0.0565

In [30]:
sAC = ((tabla['Prob'] * (tabla['PortAC'] - ErAC)**2).sum())**0.5
sAC

0.11119914568017149