In [1]:
import pandas as pd

In [2]:
tabla = pd.DataFrame({'ret': [-0.07, 0.04, 0.1, -0.08, 0.15]})
tabla

    ret
0 -0.07
1  0.04
2  0.10
3 -0.08
4  0.15

In [3]:
(1 + tabla).prod()**(1/5) - 1

ret    0.02395
dtype: float64

In [4]:
tabla.mean()

ret    0.028
dtype: float64

In [7]:
tabla.std(ddof=1)

ret    0.101833
dtype: float64

In [9]:
tabla2 = pd.DataFrame({'ret': [-0.15, 0.25, 0.3]})
tabla2

    ret
0 -0.15
1  0.25
2  0.30

In [11]:
(1 + tabla2).prod()**(1/3) - 1

ret    0.113672
dtype: float64

In [12]:
tabla2.mean()

ret    0.133333
dtype: float64

In [13]:
tabla3 = pd.DataFrame({'prob':[0.3, 0.4, 0.3],
                       'ret':[0.15, 0.08, -0.07]
                      }
                     )
tabla3

   prob   ret
0   0.3  0.15
1   0.4  0.08
2   0.3 -0.07

In [14]:
E = (tabla3['prob'] * tabla3['ret']).sum()

In [15]:
(tabla3['prob'] * (tabla3['ret'] - E)**2).sum()**0.5

0.08742997197757757