In [1]:
import pandas as pd

# Punto 2

In [2]:
tabla = pd.DataFrame(data={'Ret': [0.2, -0.1, 0.15]})
tabla

    Ret
0  0.20
1 -0.10
2  0.15

In [3]:
(tabla['Ret'] + 1).prod() - 1

0.242

# Punto 3

In [4]:
tabla2 = pd.DataFrame(data={'Prob': [0.4, 0.3, 0.3],
                            'Ret': [-0.1, 0.08, 0.23]})
tabla2

   Prob   Ret
0   0.4 -0.10
1   0.3  0.08
2   0.3  0.23

In [5]:
Er = (tabla2['Prob'] * tabla2['Ret']).sum()
Er

0.053

# Punto 4

In [6]:
sr = (tabla2['Prob'] * (tabla2['Ret'] - Er)**2).sum()**0.5
sr

0.13777155003846042