In [1]:
import pandas as pd

In [2]:
tabla = pd.DataFrame({'Prob': [0.2, 0.3, 0.5],
                      'RetA': [-0.2, 0.05, 0.4],
                      'RetB': [-0.05, 0.1, 0.15],
                      'RetC': [0.05, 0.03, 0.02]
                     })
tabla

   Prob  RetA  RetB  RetC
0   0.2 -0.20 -0.05  0.05
1   0.3  0.05  0.10  0.03
2   0.5  0.40  0.15  0.02

In [3]:
ErA = (tabla['Prob'] * tabla['RetA']).sum()
ErB = (tabla['Prob'] * tabla['RetB']).sum()
ErC = (tabla['Prob'] * tabla['RetC']).sum()
ErA, ErB, ErC

(0.175, 0.095, 0.029000000000000005)

In [4]:
0.4 * ErA + 0.4 * ErB + 0.2 * ErC

0.1138

In [5]:
tabla = pd.DataFrame({'Prob': [0.3, 0.4, 0.3],
                      'RetA': [-0.2, 0.05, 0.4],
                      'RetB': [-0.05, 0.1, 0.15],
                      'RetC': [0.05, 0.03, 0.02]
                     })
tabla

   Prob  RetA  RetB  RetC
0   0.3 -0.20 -0.05  0.05
1   0.4  0.05  0.10  0.03
2   0.3  0.40  0.15  0.02

In [6]:
ErA = (tabla['Prob'] * tabla['RetA']).sum()
ErB = (tabla['Prob'] * tabla['RetB']).sum()
ErC = (tabla['Prob'] * tabla['RetC']).sum()
ErA, ErB, ErC

(0.08, 0.07, 0.033)

In [7]:
(ErA + ErB + ErC) / 3

0.061000000000000006

In [8]:
(5000 * 0.2 + 22500 * 0.15 + 22500 * 0.17) / 50000

0.164

In [9]:
(10000 * 0.2 + 20000 * 0.15 + 20000 * 0.17) / 50000

0.168

In [10]:
tabla = pd.DataFrame({'Prob': [0.2, 0.3, 0.5],
                      'RetA': [-0.2, 0.05, 0.4],
                      'RetB': [-0.05, 0.1, 0.15],
                      'RetC': [0.05, 0.03, 0.02]
                     })
tabla

   Prob  RetA  RetB  RetC
0   0.2 -0.20 -0.05  0.05
1   0.3  0.05  0.10  0.03
2   0.5  0.40  0.15  0.02

In [11]:
ErA = (tabla['Prob'] * tabla['RetA']).sum()
ErB = (tabla['Prob'] * tabla['RetB']).sum()
ErC = (tabla['Prob'] * tabla['RetC']).sum()
ErA, ErB, ErC

(0.175, 0.095, 0.029000000000000005)

In [12]:
sAB = (tabla['Prob'] * (tabla['RetA'] - ErA) * (tabla['RetB'] - ErB)).sum()
sAC = (tabla['Prob'] * (tabla['RetA'] - ErA) * (tabla['RetC'] - ErC)).sum()
sCB = (tabla['Prob'] * (tabla['RetC'] - ErC) * (tabla['RetB'] - ErB)).sum()
sAB, sAC, sCB

(0.016875, -0.0026250000000000006, -0.0008550000000000002)

In [13]:
tabla = pd.DataFrame({'Prob': [0.3, 0.4, 0.3],
                      'RetA': [-0.2, 0.05, 0.4],
                      'RetB': [-0.05, 0.1, 0.15],
                      'RetC': [0.05, 0.03, 0.02]
                     })
tabla

   Prob  RetA  RetB  RetC
0   0.3 -0.20 -0.05  0.05
1   0.4  0.05  0.10  0.03
2   0.3  0.40  0.15  0.02

In [14]:
ErA = (tabla['Prob'] * tabla['RetA']).sum()
ErB = (tabla['Prob'] * tabla['RetB']).sum()
ErC = (tabla['Prob'] * tabla['RetC']).sum()
ErA, ErB, ErC

(0.08, 0.07, 0.033)

In [15]:
sA = (tabla['Prob'] * (tabla['RetA'] - ErA)**2).sum()**0.5
sB = (tabla['Prob'] * (tabla['RetB'] - ErB)**2).sum()**0.5
sC = (tabla['Prob'] * (tabla['RetC'] - ErC)**2).sum()**0.5
sA, sB, sC

(0.23366642891095846, 0.08124038404635961, 0.011874342087037918)

In [16]:
sAB = (tabla['Prob'] * (tabla['RetA'] - ErA) * (tabla['RetB'] - ErB)).sum()
sAC = (tabla['Prob'] * (tabla['RetA'] - ErA) * (tabla['RetC'] - ErC)).sum()
sCB = (tabla['Prob'] * (tabla['RetC'] - ErC) * (tabla['RetB'] - ErB)).sum()
sAB, sAC, sCB

(0.017400000000000002, -0.0026400000000000004, -0.0009600000000000001)

In [20]:
rAB = sAB / (sA * sB)
rAC = sAC / (sA * sC)
rCB = sCB / (sC * sB)
rAB, rAC, rCB

(0.9166023347994703, -0.9514764623988068, -0.9951526617137966)

In [21]:
0.5 * ErA + 0.5 * ErC

0.0565